In [117]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql.functions import *
from pyspark.sql.functions import *

spark = SparkSession.builder \
    .config("spark.jars", "C:\\tools\\spark-3.3.2-bin-hadoop3\\jars\\postgresql-42.6.2.jar")\
    .master("local[*]") \
    .appName('spark-app') \
    .getOrCreate()

In [118]:
spark.version

'3.3.2'

In [4]:
df_orders =spark.read.parquet("hdfs://localhost:9000/home/datalake/orders")
df_customers =spark.read.parquet("hdfs://localhost:9000/home/datalake/customers")
df_order_items =spark.read.parquet("hdfs://localhost:9000/home/datalake/order_items")
df_payments =spark.read.parquet("hdfs://localhost:9000/home/datalake/payments")
df_products =spark.read.parquet("hdfs://localhost:9000/home/datalake/products")
df_reviews =spark.read.parquet("hdfs://localhost:9000/home/datalake/reviews")
df_sellers =spark.read.parquet("hdfs://localhost:9000/home/datalake/sellers")
df_geolocation =spark.read.parquet("hdfs://localhost:9000/home/datalake/geolocation")
df_category_name_translation =spark.read.parquet("hdfs://localhost:9000/home/datalake/category_name_translation")

In [5]:
df_orders_2 = df_orders.groupby('order_status').count()
df_orders_2.show()

+------------+-----+
|order_status|count|
+------------+-----+
|     shipped| 1107|
|    canceled|  625|
|    invoiced|  314|
|   delivered|96478|
| unavailable|  609|
|  processing|  301|
|     created|    5|
|    approved|    2|
+------------+-----+

In [6]:
df_orders.show(10)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|5188f7ae18cdf7538...|0be3b3c1bd5eb9d58...|   delivered|     2017-09-14 11:16:49|2017-09-14 11:30:14|         2017-09-14 18:22:15|          2017-10-13 20:52:37|          2017-10-06 00:00:00|
|084ac8d010dca0cb8...|76f2cd7947ffec495...|   delivered|     2018-02-13 14:37:04|2018-02-16 07:56:21|         2018-02-16 19:42:04|          2018-02-26 16:13:34|          2018-03-07 00:00:00|
|045b201c094804e3f...|5adb0951ee1644e69...|   delivered|     2017-12-07 09:02:57|2017-12-12 03:55:39|         2017-12-13 23:58:52|          2018-01-03 21:27:41|          2018-01-12 00:00:00|
|53a1965cb8e1d6cf4...|ed464200108d2cc6c...|   delivered|     2017-06-25 15:25:51|2017-06-27 03:45:16|         2017-06-27 13:47:07|          2017-07-04 14:34:23|          2017-07-18 00:00:00|
|cd4d00f4cdfc2365a...|87212a59dab079c4b...|   delivered|     2018-03-21 02:22:41|2018-03-21 09:48:17|         2018-03-23 19:41:03|          2018-04-23 18:15:28|          2018-04-26 00:00:00|
|23a0c1ef37b1e2599...|ee92050607377372e...|   delivered|     2017-07-17 06:54:05|2017-07-17 07:05:15|         2017-07-19 01:12:26|          2017-09-19 16:39:58|          2017-08-04 00:00:00|
|3f78a6201286f6b6b...|c1f3a8a08aa2c796b...|   delivered|     2018-03-08 19:20:03|2018-03-08 19:30:39|         2018-03-13 00:51:26|          2018-04-02 22:50:06|          2018-04-06 00:00:00|
|a6ade711f329afba0...|ddb1eba2d5a604860...|     shipped|     2018-07-23 23:58:12|2018-07-24 10:31:12|         2018-07-24 11:01:00|                         null|          2018-08-10 00:00:00|
|b1127d37a7b6bdc4f...|e6242688aa32fed2e...|   delivered|     2018-08-20 21:03:23|2018-08-20 21:30:08|         2018-08-21 14:24:00|          2018-08-22 17:21:39|          2018-08-28 00:00:00|
|9ffb45ae888742578...|f37a657ab3c515ad0...|   delivered|     2017-08-20 16:19:21|2017-08-20 16:35:15|         2017-08-21 17:57:02|          2017-08-29 20:53:04|          2017-09-14 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 10 rows

In [7]:
df_payments.show()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|14142e4c26cd19047...|               2.0|     voucher|                   1|        100.0|
|307c55be8a2874385...|               1.0| credit_card|                   1|        87.93|
|d27011ebb19676cc4...|               1.0|      boleto|                   1|        195.0|
|7714757e3e3208a4b...|               1.0| credit_card|                   4|        88.08|
|e2fcf0dc80d06ac32...|               1.0| credit_card|                   5|       274.01|
|4e506215592eafe8d...|               1.0| credit_card|                   3|       152.82|
|bcc786c10284d63d8...|               1.0| credit_card|                   1|        99.74|
|5076401c4f2f4895f...|               1.0|      boleto|                   1|        87.48|
|0259b4edb1ee1ebd0...|               1.0| credit_card|                   4|        69.03|
|57d9af1de34ab593d...|               1.0|      boleto|                   1|       243.11|
|2622673a1a0575cbc...|               1.0| credit_card|                   5|       259.96|
|11db6666e1dbeee77...|               1.0| credit_card|                   5|        55.98|
|a9b84349900ef15cb...|               1.0| credit_card|                   1|        175.3|
|66305a754211cca47...|               1.0|      boleto|                   1|       537.16|
|be4bbf54d948c09c8...|               1.0| credit_card|                   3|        36.35|
|3a8e8e947707941c5...|               1.0| credit_card|                   7|       159.85|
|aba560ab127e5b684...|               1.0| credit_card|                   5|       384.08|
|2fc8432d4f906403e...|               1.0| credit_card|                   3|        31.75|
|d8c15550aee132ffe...|               1.0| credit_card|                   4|        86.02|
|4b4c7655aadab4cf1...|               1.0| credit_card|                   2|       249.08|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [8]:
df_order_items.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|04af40a6714e5ab25...|            1|7e0995bd610eb1dfe...|14d7985702e72162b...|2018-03-14 22:31:32|  40.0|         7.39|
|50f943da6e59c1047...|            1|2b1253c7c4fc2b039...|d20b021d3efdf267a...|2017-05-16 23:02:38| 46.99|        35.67|
|489f4aa5c9356b6e5...|            1|0e8e65e0044a4d888...|f00e21b1e91a79653...|2017-06-05 21:30:15| 159.9|        14.14|
|509a879b07f7712dc...|            1|2722b86640ddc24e1...|72c5da29406b42349...|2018-05-17 20:55:37|299.99|        23.18|
|389d99caa7584786e...|            1|fb949f35bd1873f84...|6edacfd9f9074789d...|2017-07-13 17:50:21|  51.9|         12.7|
|4af2fb154881f350d...|            1|86ecc269de40ba132...|b76dba6c951ab00dc...|2018-07-26 13:20:19| 25.97|        22.11|
|bfb1a4b760e9c724c...|            4|703d742887bb9267f...|640e21a7d01df7614...|2018-05-24 21:54:11|  56.1|        22.65|
|6c54ede964379de26...|            1|8b5227e28272123ee...|2eb70248d66e0e3ef...|2018-05-30 16:31:20| 494.0|        10.32|
|5fb4ea19db61afd32...|            1|8ad980f63b9be72d0...|a5dd1946fb63ada8b...|2017-12-01 17:20:35| 61.89|        12.68|
|68c7b161c0d53a4f6...|            1|d2ded4a70d299e058...|f46490624488d3ff7...|2018-06-28 15:30:46|  12.5|         7.39|
|748c52d1621e759a5...|            1|d722e6d632fdc8f3b...|5c243662ce92d8457...|2017-10-09 21:24:24|362.99|        11.36|
|aa0910dcd21e1118e...|            1|35e30f098f0bdf1af...|99002261c568a84cc...|2018-06-22 10:00:31| 100.0|        23.42|
|6a23f8ca5022ad529...|            1|568d3a7903cd34550...|cca3071e3e9bb7d12...|2017-12-05 18:18:24| 52.11|        15.11|
|afd363f0f987b7f9b...|            2|50fd2b788dc166edd...|8b321bb669392f516...|2017-12-18 18:31:45|  21.9|         15.1|
|5bdb0867cd3ddd505...|            1|bb3ba3a4e6d7471b6...|ac3508719a1d8f5b7...|2017-10-05 22:56:45|  89.9|        47.16|
|586992f50ed978987...|            1|8b502ca34e28d3060...|fa1c13f2614d7b5c4...|2017-02-04 17:01:46|2999.0|        17.01|
|f71951324325e3af9...|            1|dbb67791e405873b2...|9c0e69c7bf2619675...|2018-04-19 13:15:42| 81.99|        18.45|
|7d2276ea7a66f8f02...|            1|859c76e39d1772297...|1336efc61c316ddf9...|2018-03-15 11:10:56|  49.0|        13.71|
|c6657be5ece0d6d84...|            1|ba4a91633739ceceb...|7c67e1448b00f6e96...|2017-12-22 04:09:17|139.99|        28.34|
|2a463210d1a9df138...|            1|0b5c0ecd14105464e...|dbc22125167c298ef...|2017-09-14 04:50:06|  48.9|         17.6|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

In [9]:
df_customers.show(10)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|dd0530a5458545b42...|7a1596106b2eba910...|                   08574|     itaquaquecetuba|            SP|
|37c117383b391157a...|e171a4ec0e867cac0...|                   20220|      rio de janeiro|            RJ|
|a2fcfc4d534195000...|6bdd34652c5ca96ab...|                   02349|           sao paulo|            SP|
|44344e9f944a56921...|95b1cb35aa91d54d5...|                   29780|sao gabriel da palha|            ES|
|b855beb4e42f78851...|fe86854f299d065a1...|                   75115|            anapolis|            GO|
|26d480c92395324f0...|75397e2d405166ca0...|                   13500|           rio claro|            SP|
|f7d94377ee8d0325d...|404a868c6db476dcf...|                   91410|        porto alegre|            RS|
|39ed53d31627390f1...|98ec8f34699b3551d...|                   05812|           sao paulo|            SP|
|96062ed70db09e708...|07165317dfc32fc67...|                   29146|           cariacica|            ES|
|77992c23eb50255f6...|91275e7b1847f1029...|                   71908|            brasilia|            DF|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 10 rows

In [10]:
df_orders_detail = df_orders.join(df_order_items,'order_id', 'inner')
df_orders_detail.select('order_id', 'customer_id', 'order_item_id', 'product_id', 'price')

DataFrame[order_id: string, customer_id: string, order_item_id: string, product_id: string, price: double]

In [11]:
# Top saling category product

In [12]:
df_order_item_product = df_order_items.join(df_products,'product_id', 'inner')\
                                    .select('product_id', 'product_category_name', 'price',)
df_order_item_product_en = df_order_item_product.join(df_category_name_translation, 'product_category_name', 'inner')\
                                                .drop('product_category_name')

In [33]:
popular_products = df_order_item_product_en.groupby('product_category_name_english')\
                                            .agg(count('product_category_name_english').alias('count'), \
                                                 sum('price').alias('total'))\
                                            .orderBy('count', ascending = False)\
                                            .withColumn('total', round(col('total'),2))

In [34]:
popular_products.show(10)

+-----------------------------+-----+----------+
|product_category_name_english|count|     total|
+-----------------------------+-----+----------+
|               bed_bath_table|11115|1036988.68|
|                health_beauty| 9670|1258681.34|
|               sports_leisure| 8641| 988048.97|
|              furniture_decor| 8334| 729762.49|
|         computers_accesso...| 7827| 911954.32|
|                   housewares| 6964| 632248.66|
|                watches_gifts| 5991|1205005.68|
|                    telephony| 4545| 323667.53|
|                 garden_tools| 4347| 485256.46|
|                         auto| 4235| 592720.11|
+-----------------------------+-----+----------+
only showing top 10 rows

In [32]:
# Top seller revenue

In [31]:
df_sellers_orders_detail = df_order_items.join(df_sellers,'seller_id', 'inner')\
                                        .drop('order_item_id', 'shipping_limit_date', 'freight_value', 'seller_zip_code_prefix')

df_sellers_orders_detail.groupby('seller_id').agg(sum('price').alias('total'))\
                        .orderBy('total', ascending = False)\
                        .withColumn('total', round(col('total'),2))\
                        .show()

+--------------------+---------+
|           seller_id|    total|
+--------------------+---------+
|4869f7a5dfa277a7d...|229472.63|
|53243585a1d6dc264...|222776.05|
|4a3ca9315b744ce9f...|200472.92|
|fa1c13f2614d7b5c4...|194042.03|
|7c67e1448b00f6e96...|187923.89|
|7e93a43ef30c4f03f...|176431.87|
|da8622b14eb17ae28...|160236.57|
|7a67c85e85bb2ce85...|141745.53|
|1025f0e2d44d7041d...|138968.55|
|955fee9216a65b617...| 135171.7|
|46dc3b2cc0980fb8e...|128111.19|
|6560211a19b47992c...|123304.83|
|620c87c171fb2a6dd...| 114774.5|
|7d13fca1522535862...|113628.97|
|5dceca129747e92ff...|112155.53|
|1f50f920176fa81da...|106939.21|
|cc419e0650a3c5ba7...|104288.42|
|a1043bafd471dff53...|101901.16|
|3d871de0142ce09b7...|  94914.2|
|edb1ef5e36e0c8cd8...| 79284.55|
+--------------------+---------+
only showing top 20 rows

In [26]:
# Best city with quantity customer

In [48]:
df_orders_customer = df_orders.join(df_customers,'customer_id', 'inner')\
                                .select('customer_city', 'customer_state', 'order_id' )\
                                .groupby('customer_city', 'customer_state').agg(count('order_id').alias('order_quantity'))\
                                .orderBy('order_quantity', ascending = False)
df_orders_customer.show()

+--------------------+--------------+--------------+
|       customer_city|customer_state|order_quantity|
+--------------------+--------------+--------------+
|           sao paulo|            SP|         15540|
|      rio de janeiro|            RJ|          6882|
|      belo horizonte|            MG|          2773|
|            brasilia|            DF|          2131|
|            curitiba|            PR|          1521|
|            campinas|            SP|          1444|
|        porto alegre|            RS|          1379|
|            salvador|            BA|          1245|
|           guarulhos|            SP|          1189|
|sao bernardo do c...|            SP|           938|
|             niteroi|            RJ|           849|
|         santo andre|            SP|           796|
|              osasco|            SP|           746|
|              santos|            SP|           713|
|             goiania|            GO|           692|
| sao jose dos campos|            SP|           691|
|           fortaleza|            CE|           654|
|            sorocaba|            SP|           633|
|              recife|            PE|           613|
|       florianopolis|            SC|           570|
+--------------------+--------------+--------------+
only showing top 20 rows

In [72]:
# Which product category is most purchased in each city

In [76]:
from pyspark.sql import functions as f

df_orders_customer_items = df_orders.join(df_customers,'customer_id', 'inner')
df_orders_customer_items = df_orders_customer_items.join(df_order_items,'order_id', 'inner')
df_orders_customer_items = df_orders_customer_items.join(df_products,'product_id', 'inner')
df_orders_customer_items = df_orders_customer_items.select('customer_city', 'product_category_name')\
                        .groupby( 'customer_city', 'product_category_name')\
                        .agg(count('product_category_name'))\
                        .orderBy('customer_city', ascending = True)
df_orders_customer_items = df_orders_customer_items.withColumn("product_count", f.array("count(product_category_name)","product_category_name"))
df_orders_customer_items.groupby("customer_city")\
                        .agg(max("product_count").getItem(1).alias("most_purchased_product"), \
                             max("product_count").getItem(0).alias("count"),)\
                        .show()

+-------------------+----------------------+-----+
|      customer_city|most_purchased_product|count|
+-------------------+----------------------+-----+
|abadia dos dourados|  livros_interesse_...|    1|
|          abadiania|       eletroportateis|    1|
|             abaete|    relogios_presentes|    3|
|         abaetetuba|  informatica_acess...|    5|
|            abaiara|            brinquedos|    1|
|             abaira|             telefonia|    1|
|              abare|    relogios_presentes|    1|
|             abatia|             telefonia|    1|
|      abdon batista|       cama_mesa_banho|    2|
|       abelardo luz|  utilidades_domest...|    2|
|           abrantes|  informatica_acess...|    1|
|         abre campo|  utilidades_domest...|    1|
|       abreu e lima|    ferramentas_jardim|    4|
|            acaiaca|  informatica_acess...|    1|
|         acailandia|    relogios_presentes|    2|
|          acajutiba|             telefonia|    1|
|             acarau|      malas_acessorios|    3|
|              acari|          beleza_saude|    1|
|             acegua|           moveis_sala|    1|
|           acopiara|               bebidas|    2|
+-------------------+----------------------+-----+
only showing top 20 rows

In [74]:
# top payment type

In [80]:
df_top_payments_type = df_payments.groupby('payment_type').count().alias('count').orderBy('count', ascending = False)
df_top_payments_type.show(10)

+------------+-----+
|payment_type|count|
+------------+-----+
| credit_card|76795|
|      boleto|19784|
|     voucher| 5775|
|  debit_card| 1529|
| not_defined|    3|
+------------+-----+

In [81]:
# Orders were not delivered as expected 
order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date

In [91]:
df_order_shipping = df_orders.select('order_id','order_delivered_customer_date', 'order_estimated_delivery_date').where(df_orders.order_status == 'delivered')

In [96]:
df_order_shipping.show()

+--------------------+-----------------------------+-----------------------------+
|            order_id|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+-----------------------------+-----------------------------+
|5188f7ae18cdf7538...|          2017-10-13 20:52:37|          2017-10-06 00:00:00|
|084ac8d010dca0cb8...|          2018-02-26 16:13:34|          2018-03-07 00:00:00|
|045b201c094804e3f...|          2018-01-03 21:27:41|          2018-01-12 00:00:00|
|53a1965cb8e1d6cf4...|          2017-07-04 14:34:23|          2017-07-18 00:00:00|
|cd4d00f4cdfc2365a...|          2018-04-23 18:15:28|          2018-04-26 00:00:00|
|23a0c1ef37b1e2599...|          2017-09-19 16:39:58|          2017-08-04 00:00:00|
|3f78a6201286f6b6b...|          2018-04-02 22:50:06|          2018-04-06 00:00:00|
|b1127d37a7b6bdc4f...|          2018-08-22 17:21:39|          2018-08-28 00:00:00|
|9ffb45ae888742578...|          2017-08-29 20:53:04|          2017-09-14 00:00:00|
|639b603f09b7050c9...|          2017-05-16 05:37:50|          2017-05-23 00:00:00|
|b6fa3751148ad8ba1...|          2017-07-20 19:52:14|          2017-08-01 00:00:00|
|400d97d7e7ea05ffb...|          2018-06-29 17:03:43|          2018-07-12 00:00:00|
|0d7fc3fc1f6267e80...|          2018-02-14 15:52:23|          2018-03-06 00:00:00|
|f61c1d32076f07bcd...|          2018-07-11 21:06:33|          2018-07-17 00:00:00|
|a6e8ad5db31e71f5f...|          2018-08-14 17:57:35|          2018-08-16 00:00:00|
|d9184093392a8a7af...|          2018-06-11 21:19:52|          2018-05-23 00:00:00|
|c6624907a0776d138...|          2018-06-18 18:11:42|          2018-07-16 00:00:00|
|306d73cb716b08d35...|          2017-09-20 21:33:20|          2017-10-02 00:00:00|
|34c194055d9ef88a3...|          2017-04-12 10:26:31|          2017-05-04 00:00:00|
|2db4621a93302d253...|          2018-04-03 04:08:35|          2018-04-11 00:00:00|
+--------------------+-----------------------------+-----------------------------+
only showing top 20 rows

In [93]:
df_order_delay = df_order_shipping.filter(df_order_shipping.order_delivered_customer_date > df_order_shipping.order_estimated_delivery_date)

In [121]:
df_order_delay= df_order_delay.withColumn('delay_hours', \
                          round(((f.col('order_delivered_customer_date').cast("long") - f.col('order_estimated_delivery_date').cast("long"))/3600), 2))

In [119]:
def write_to_pg(df, table_name):
    df.write.format("jdbc")\
        .option("url", "jdbc:postgresql://ep-small-salad-a2sbsxpd.eu-central-1.aws.neon.tech/brazilian_ecommerce") \
        .option("driver", "org.postgresql.Driver").option("dbtable", table_name) \
        .option("user", "brazilian_ecommerce_owner").option("password", "xQI5TMXN3COU").save()

In [122]:
write_to_pg(df_order_delay)